# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas
numpy
matplotlib
jupyter-book
seaborn
#little_mallet_wrapper
altair
bokeh
bs4
requests
#folium
#geopy
#nltk
#text-matcher
git+https://github.com/maria-antoniak/little-mallet-wrapper.git
scikit-learn
#spacy
regex
#booknlp